.last-modify-div {
    background-color: #7b70b8;
    border-radius: 12px;
    border-width: 1px;
    padding: 4px;
    padding-inline:8px;
    border-style: none;
    border-color: #254187;
    font-size: 14px;
}