.list-item {
    &--wrapper {
        display: flex;
        flex-direction: row;

        &--label {
            padding: 3px;
            margin: 2px;
            border-radius: 5px;
            background-color: rgb(138, 30, 210);
        }

        &--body {
            padding: 3px;
            margin: 2px;
            border-radius: 5px;
            background-color: rgb(30, 159, 210);

            &--link {
                text-decoration: underline;
            }
        }
    }
}